In [3]:
import numpy as np
import pandas as pd
from SRC.tools import show, inspect
from IPython.core.interactiveshell import InteractiveShell as ish
import warnings; warnings.filterwarnings('ignore')
from SRC.tools import load

<p style="color:white; background:#07D; padding:12px; font-size:20px; font-style:normal; text-align:center">
<span style="width:49%; display:inline-block; text-align:left"> </span>
<span style="width:49%; display:inline-block; text-align:right"> </span>
<span style="font-size:120px; font-style:normal"><b>ATTENTION <br></b></span><br>
<span style="width:49%; display:inline-block; text-align:left">copier et ouvrir le fichier depuis le dossier de outinfo <br> modifier le chemin d'accès pour les fichiers <br> ignorer la validité</span>
<span style="width:49%; display:inline-block; text-align:right"> </span></p>

<h2 style="padding:16px; color:white; background:#07D">Récupérer les données</h2>

In [182]:
name = 'https://raw.githubusercontent.com/Maina0107/Projet-d-optimisation/refs/heads/main/code/Experimentations/results_n5.txt?token=GHSAT0AAAAAAC54GIXUUEEHP7PIXT2TOEJMZ43LXKQ'
fwf_n5 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n5

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower,validite
0,5,1,1,1,0,ras,True,True,0.00170,0.010,0.0,124.91,124.91,124.91,1
1,5,1,1,1,1,ras,True,True,0.00153,0.005,0.0,124.91,124.91,124.91,1
2,5,1,1,1,2,ras,True,True,0.00134,0.005,0.0,124.91,124.91,124.91,1
3,5,1,1,2,0,ras,True,True,0.00126,0.005,0.0,124.91,124.91,124.91,1
4,5,1,1,2,1,ras,True,True,0.00225,0.008,0.0,124.91,124.91,124.91,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,5,3,5,2,1,ras,True,True,0.00221,0.009,0.0,61.20,61.20,61.20,1
131,5,3,5,2,2,ras,True,True,0.00358,0.008,0.0,61.20,61.20,61.20,1
132,5,3,5,3,0,ras,True,True,0.00133,0.005,0.0,61.20,61.20,61.20,1
133,5,3,5,3,1,ras,True,True,0.00229,0.008,0.0,61.20,61.20,61.20,1
134,5,3,5,3,2,ras,True,True,0.00370,0.008,0.0,61.20,61.20,61.20,1

In [174]:
name = 'https://raw.githubusercontent.com/Maina0107/Projet-d-optimisation/refs/heads/main/code/Experimentations/results_n10.txt?token=GHSAT0AAAAAAC54GIXVPQMCWVTG6OWT5WHAZ43LVGA'
fwf_n10 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n10

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower,validite
0,10,1,1,1,0,ras,True,True,0.00273,0.011,0.0,199.28,199.28,199.28,1
1,10,1,1,1,1,ras,True,True,0.00258,0.012,0.0,199.28,199.28,199.28,1
2,10,1,1,1,2,ras,True,True,0.00279,0.009,0.0,199.28,199.28,199.28,1
3,10,1,1,2,0,ras,True,True,0.00516,0.025,0.0,199.28,199.28,199.28,1
4,10,1,1,2,1,ras,True,True,0.02271,0.080,0.0,199.28,199.28,199.28,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,10,3,5,2,1,ras,True,True,0.02354,0.465,0.0,161.11,161.11,161.11,1
131,10,3,5,2,2,ras,True,True,0.03807,0.850,0.0,161.11,161.11,161.11,1
132,10,3,5,3,0,ras,True,True,0.00491,0.035,0.0,135.72,135.72,135.72,1
133,10,3,5,3,1,ras,True,True,0.00798,0.113,0.0,161.11,161.11,161.11,1
134,10,3,5,3,2,ras,True,True,0.03658,0.304,0.0,161.11,161.11,161.11,1

In [176]:
name = 'https://raw.githubusercontent.com/Maina0107/Projet-d-optimisation/refs/heads/main/code/Experimentations/results_n20.txt?token=GHSAT0AAAAAAC54GIXVJVEEK3CGD5RGJ5Y2Z43LVXA'
fwf_n20 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n20

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower,validite
0,20,2,1,1,0,ras,True,True,0.00619,0.761,0.00,206.23,206.23,206.230,1
1,20,2,1,1,1,ras,True,True,0.00742,3.535,0.16,206.23,206.23,205.909,1
2,20,2,1,1,2,ras,True,True,0.00566,1.385,0.00,206.23,206.23,206.230,1
3,20,2,1,2,0,ras,True,True,0.05920,1.358,0.00,206.23,206.23,206.230,0
4,20,2,1,2,1,ras,True,True,0.21852,10.302,0.00,206.23,206.23,206.230,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,20,6,5,2,1,ras,True,True,0.23040,32.560,0.00,150.47,150.47,150.470,1
131,20,6,5,2,2,ras,True,True,0.48294,24.208,0.00,150.47,150.47,150.470,1
132,20,6,5,3,0,ras,True,True,0.07523,0.527,0.00,123.69,123.69,123.690,1
133,20,6,5,3,1,ras,True,True,0.11460,2.832,0.00,150.47,150.47,150.470,1
134,20,6,5,3,2,ras,True,True,0.58176,4.633,0.00,150.47,150.47,150.470,1

In [178]:
name = 'https://raw.githubusercontent.com/Maina0107/Projet-d-optimisation/refs/heads/main/code/Experimentations/results_n30.txt?token=GHSAT0AAAAAAC54GIXVRILYNTOASW3WQRIGZ43LWNQ'
fwf_n30 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n30

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower,validite
0,30,3,1,1,0,ras,True,True,0.02844,2.790,0.00,194.88,194.88,194.880,1
1,30,3,1,1,1,ras,True,True,0.02257,13.971,0.15,216.26,216.26,215.940,1
2,30,3,1,1,2,ras,True,True,0.02055,4.332,0.40,216.18,216.18,215.313,1
3,30,3,1,2,0,ras,True,True,0.25804,2.666,0.00,194.88,194.88,194.880,1
4,30,3,1,2,1,ras,True,False,1.24381,305.552,10.55,216.26,216.26,193.449,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,30,10,5,2,1,ras,True,False,1.14007,305.107,79.26,460.49,460.49,95.492,1
131,30,10,5,2,2,ras,True,False,2.46934,301.554,23.97,146.26,146.26,111.207,1
132,30,10,5,3,0,ras,True,True,0.23334,2.641,0.00,98.08,98.08,98.080,1
133,30,10,5,3,1,ras,True,True,0.42097,30.786,0.00,142.20,142.20,142.200,1
134,30,10,5,3,2,ras,True,True,2.40242,41.690,0.00,142.20,142.20,142.200,1

In [180]:
name = 'https://raw.githubusercontent.com/Maina0107/Projet-d-optimisation/refs/heads/main/code/Experimentations/results_n50.txt?token=GHSAT0AAAAAAC54GIXU6BODWQOT3BZ3J5GGZ43LW5A'
fwf_n50 = pd.read_csv(name, delim_whitespace=True, header=0)
fwf_n50

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower,validite
0,50,5,1,1,0,ras,True,True,0.04450,11.625,0.00,175.42,175.42,175.420,1
1,50,5,1,1,1,ras,True,True,0.05986,46.798,0.00,197.21,197.21,197.210,1
2,50,5,1,1,2,ras,True,True,0.03636,31.968,0.00,197.21,197.21,197.210,1
3,50,5,1,2,0,ras,True,False,2.09059,305.547,8.36,180.84,180.84,165.720,1
4,50,5,1,2,1,irréalisable,False,False,9.22795,-1.000,-1.00,-1.00,-1.00,-1.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,50,16,5,2,1,irréalisable,False,False,8.71821,-1.000,-1.00,-1.00,-1.00,-1.000,0
131,50,16,5,2,2,ras,True,False,17.71877,310.210,68.58,224.86,224.86,70.651,1
132,50,16,5,3,0,ras,True,True,1.51214,31.239,0.00,73.44,73.44,73.440,1
133,50,16,5,3,1,ras,True,False,3.20543,307.521,32.17,112.45,112.45,76.274,1
134,50,16,5,3,2,ras,True,False,20.04532,311.755,89.61,581.68,581.68,60.430,1

In [19]:
fwf = pd.concat([fwf_n5, fwf_n10, fwf_n20, fwf_n30, fwf_n50], ignore_index=True)
fwf

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower,validite
0,5,1,1,1,0,ras,True,True,0.00170,0.010,0.00,124.91,124.91,124.910,1
1,5,1,1,1,1,ras,True,True,0.00153,0.005,0.00,124.91,124.91,124.910,1
2,5,1,1,1,2,ras,True,True,0.00134,0.005,0.00,124.91,124.91,124.910,1
3,5,1,1,2,0,ras,True,True,0.00126,0.005,0.00,124.91,124.91,124.910,1
4,5,1,1,2,1,ras,True,True,0.00225,0.008,0.00,124.91,124.91,124.910,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,50,16,5,2,1,irréalisable,False,False,8.71821,-1.000,-1.00,-1.00,-1.00,-1.000,0
671,50,16,5,2,2,ras,True,False,17.71877,310.210,68.58,224.86,224.86,70.651,1
672,50,16,5,3,0,ras,True,True,1.51214,31.239,0.00,73.44,73.44,73.440,1
673,50,16,5,3,1,ras,True,False,3.20543,307.521,32.17,112.45,112.45,76.274,1
674,50,16,5,3,2,ras,True,False,20.04532,311.755,89.61,581.68,581.68,60.430,1

<h2 style="padding:16px; color:white; background:#07D">Statistiques</h2>

Nombre d'instances

In [25]:
len(fwf.drop_duplicates(subset=["n", "p", "i"]))

75

Nombre de fois où la solution trouvée est réalisable mais non valide.

In [31]:
len(fwf[(fwf["validite"]==0) & (fwf["statut"]==True)])

37

Nombre de fois où la solution trouvée par la version 2 avec capacité 1 est réalisable mais non valide

In [34]:
len(fwf[(fwf["validite"]==0) & (fwf["v"]==2) & (fwf["c"]==1) & (fwf["statut"]==True)])

0

Nombres d'instances pour lesquelles la version 2 avec capacité 1 a trouvé une solution réalisable

In [39]:
len(fwf[(fwf["v"]==2) & (fwf["c"]==1) & (fwf["statut"]==True)])

59

Nombre de fois où la solution trouvée par la version 2 sans capacité est réalisable mais non valide

In [42]:
len(fwf[(fwf["validite"]==0) & (fwf["v"]==2) & (fwf["c"]==0) & (fwf["statut"]==True)])

33

Nombres d'instances pour lesquelles la version 2 sans capacité a trouvé une solution réalisable

In [45]:
len(fwf[(fwf["v"]==2) & (fwf["c"]==0) & (fwf["statut"]==True)])

75

Nombre d'instances avec capacité irréalisables (temps limite atteint sans avoir trouvé de solution réalisable).

In [53]:
len(fwf[(fwf["statut"]==False) & (fwf["c"]>0)].drop_duplicates(subset=["n", "p", "i"]))

18

Nombre d'instances sans capacité irréalisables (temps limite atteint sans avoir trouvé de solution réalisable).

In [56]:
len(fwf[(fwf["statut"]==False) & (fwf["c"]==0)].drop_duplicates(subset=["n", "p", "i"]))

0

Nombre d'instances pour lesquelles on a trouvé une sol réalisable mais pas prouvée optimale.

In [65]:
len(fwf[(fwf["statut"]==True) & (fwf["etat"]==False)])

55

In [67]:
fwf[(fwf["n"]==30) & (fwf["p"]==10) & (fwf["i"]==4) & (fwf["c"]==0)]

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower,validite
522,30,10,4,1,0,ras,True,True,0.02336,2.768,0.00,108.05,108.05,108.050,1
525,30,10,4,2,0,ras,True,True,0.31789,9.583,0.75,108.05,108.05,107.243,1
528,30,10,4,3,0,ras,True,True,0.28256,2.156,0.00,108.05,108.05,108.050,1

In [69]:
fwf[(fwf["n"]==30) & (fwf["p"]==10) & (fwf["i"]==4) & (fwf["c"]>0)]

,n,p,i,v,c,erreur,statut,etat,temps_creation,temps,gap,obj,obj_upper,obj_lower,validite
523,30,10,4,1,1,ras,True,True,0.02393,21.444,0.00,157.54,157.54,157.540,1
524,30,10,4,1,2,ras,True,True,0.02092,19.650,0.58,157.54,157.54,156.619,1
526,30,10,4,2,1,ras,True,False,1.17099,307.159,72.74,409.25,409.25,111.566,1
527,30,10,4,2,2,ras,True,False,2.47234,301.544,44.25,199.73,199.73,111.343,1
529,30,10,4,3,1,ras,True,True,0.35787,118.182,0.00,157.54,157.54,157.540,1
530,30,10,4,3,2,ras,True,True,2.44867,191.778,0.00,157.54,157.54,157.540,1

Moyennes des temps pris pour résoudre les instances, lorsque l'instance est prouvée réalisable.

On dit prouvée réalisable, car ce n'est pas parce qu'on a pas trouvé de solution réalisable dans le temps imparti que le problème est irréalisable.\
On peut simplement avoir une instance avec trop de noeuds pour que le solveur trouve une solution réalisable dans le temps imparti, même si il en existe.

In [671]:
for i in range (1,4):
    print("version ", i, " sans capacité, que sol valide : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==i) & (fwf["c"]==0) & (fwf["validite"]==1)].mean())

version  1  sans capacité, que sol valide :  0.3482444444444444
version  2  sans capacité, que sol valide :  0.10425714285714285
version  3  sans capacité, que sol valide :  0.22355555555555556

In [683]:
for i in range (1,4):
    print("version ", i, " sans capacité, sol valide ou non : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==i) & (fwf["c"]==0)].mean())

version  1  sans capacité, sol valide ou non :  0.3482444444444444
version  2  sans capacité, sol valide ou non :  0.5824444444444444
version  3  sans capacité, sol valide ou non :  0.22355555555555556

In [681]:
for i in range (1,4):
    print("version ", i, " avec capacité formulation 1, que sol valide : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==i) & (fwf["c"]==1) & (fwf["validite"]==1)].mean())

version  1  avec capacité formulation 1, que sol valide :  0.8383953488372093
version  2  avec capacité formulation 1, que sol valide :  1.1817083333333331
version  3  avec capacité formulation 1, que sol valide :  1.3115813953488373

In [686]:
for i in range (1,4):
    print("version ", i, " avec capacité formulation 1, sol valide ou non : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==i) & (fwf["c"]==1)].mean())

version  1  avec capacité formulation 1, sol valide ou non :  0.8383953488372093
version  2  avec capacité formulation 1, sol valide ou non :  2.427651162790698
version  3  avec capacité formulation 1, sol valide ou non :  1.3115813953488373

In [696]:
for i in range (1,4):
    print("version ", i, " avec capacité formulation 2, que sol valide : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==i) & (fwf["c"]==2) & (fwf["validite"]==1)].mean())

version  1  avec capacité formulation 2, que sol valide :  0.7443255813953489
version  2  avec capacité formulation 2, que sol valide :  6.447395348837209
version  3  avec capacité formulation 2, que sol valide :  2.2237209302325582

In [710]:
for i in range (1,4):
    print("version ", i, " avec capacité formulation 2, sol valide ou non : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==i) & (fwf["c"]==2)].mean())

version  1  avec capacité formulation 2, sol valide ou non :  0.7443255813953489
version  2  avec capacité formulation 2, sol valide ou non :  6.447395348837209
version  3  avec capacité formulation 2, sol valide ou non :  2.2237209302325582

<h2 style="padding:16px; color:white; background:#07D">Comparaison version 1 avec capacité formulation 1 vs 2 <br> (normalement 1 est meilleure)</h2>

On compare le temps mis pour créer le modèle, et pour le résoudre

In [744]:
print("temps moyen création f1 : ", fwf["temps_creation"][(fwf["statut"]==True) & (fwf["v"]==1) & (fwf["c"]==1)].mean())
print("temps moyen création f2 : ", fwf["temps_creation"][(fwf["statut"]==True) & (fwf["v"]==1) & (fwf["c"]==2)].mean())

temps moyen création f1 :  0.004042325581395349
temps moyen création f2 :  0.003341860465116279

In [746]:
print("temps moyen résolution f1 : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==1) & (fwf["c"]==1)].mean())
print("temps moyen résolution f2 : ", fwf["temps"][(fwf["statut"]==True) & (fwf["v"]==1) & (fwf["c"]==2)].mean())

temps moyen résolution f1 :  0.8383953488372093
temps moyen résolution f2 :  0.7443255813953489

On compare maintenant la relaxation linéaire des deux formulations : on regarde le pourcentage d'écart moyen avec la solution optimale entière (lorsque les deux solutions sont optimales)

In [797]:
# récupérer les données au début quand ce sera possible, puis supprimer cette cellule
fwf_relax = pd.DataFrame({
    "n": [5, 5, 5, 5, 5],
    "p": [1, 1, 1, 1, 5],
    "i": [1, 1, 2, 2, 3],
    "c": [1, 2, 1, 2, 1],
    "v": [1, 1, 1, 1, 1],
    "etat": [True, True, True, True, True],
    "obj": [50, 20, 80, 40, 80]
})

In [787]:
merged_df = pd.merge(
    fwf[(fwf["etat"]==True) & (fwf["v"]==1) & (fwf["c"]>0)],
    fwf_relax[(fwf_relax["etat"]==True) & (fwf_relax["v"]==1) & (fwf_relax["c"]>0)],
    on=["n", "p", "i", "c", "v"],
    suffixes=("_df1", "_df2")
)
merged_df["ecart_pourcentage"] = round((abs(merged_df["obj_df2"] - merged_df["obj_df1"]) / merged_df["obj_df1"]) * 100, 2)
merged_df

,n,p,i,v,c,erreur,statut,etat_df1,temps_creation,temps,gap,obj_df1,obj_upper,obj_lower,validite,etat_df2,obj_df2,ecart_pourcentage
0,5,1,1,1,1,ras,True,True,0.00196,0.005,0.0,124.91,124.91,124.91,1,True,50,59.97
1,5,1,1,1,2,ras,True,True,0.00135,0.004,0.0,124.91,124.91,124.91,1,True,20,83.99
2,5,1,2,1,1,ras,True,True,0.00148,0.006,0.0,147.30,147.30,147.30,1,True,80,45.69
3,5,1,2,1,2,ras,True,True,0.00140,0.005,0.0,147.30,147.30,147.30,1,True,40,72.84

In [795]:
ecart_moyen_par_v = merged_df.groupby("c")["ecart_pourcentage"].mean().reset_index()
ecart_moyen_par_v.columns = ["c", "ecart_pourcentage_moyen"]
ecart_moyen_par_v

   c  ecart_pourcentage_moyen
0  1                   52.830
1  2                   78.415

<h2 style="padding:16px; color:white; background:#07D">Données pour faire le graphique du temps mis en fonction du nb de noeuds</h2>

In [149]:
data = fwf[["n", "v", "c", "statut", "temps_creation", "temps"]]
data.head()

   n  v  c  statut  temps_creation  temps
0  5  1  0    True         0.00170  0.010
1  5  1  1    True         0.00153  0.005
2  5  1  2    True         0.00134  0.005
3  5  2  0    True         0.00126  0.005
4  5  2  1    True         0.00225  0.008

Pour les instances irréalisables où on a pas trouvé de solution réalisable avant la fin du temps (donc pas n=5), on met le temps max.

In [152]:
data.loc[(data["statut"]==False) & (data["n"]>5), "temps"] = 300
data = data[~((data["n"] == 5) & (data["statut"] == False))]

In [145]:
data_ready = data.groupby(["v", "c", "n"]).agg(
    moyenne_temps=("temps", "mean"),
    moyenne_temps_creation=("temps_creation", "mean")
).reset_index()
data_ready

    v  c   n  moyenne_temps  moyenne_temps_creation
0   1  0   5       0.009733                0.001616
1   1  0  10       0.063467                0.002823
2   1  0  20       0.895000                0.006805
3   1  0  30       2.641600                0.024666
4   1  0  50      13.476267                0.049022
5   1  1   5       0.010846                0.001782
6   1  1  10       0.118133                0.002954
7   1  1  20       2.164933                0.007823
8   1  1  30      13.175533                0.025083
9   1  1  50      69.682933                0.049795
10  1  2   5       0.009154                0.001679
11  1  2  10       0.090667                0.002772
12  1  2  20       1.888667                0.006181
13  1  2  30       7.501467                0.020995
14  1  2  50      55.843067                0.037281
15  2  0   5       0.005067                0.001486
16  2  0  10       0.038733                0.005619
17  2  0  20       1.475933                0.068003
18  2  0  30      12.198667                0.284048
19  2  0  50     136.993667                1.742099
20  2  1   5       0.013846                0.002462
21  2  1  10       0.290267                0.023159
22  2  1  20      39.665867                0.252071
23  2  1  30     303.844400                1.296721
24  2  1  50     309.745733                9.308965
25  2  2   5       0.011231                0.003593
26  2  2  10       0.287533                0.037089
27  2  2  20      16.673200                0.509331
28  2  2  30     224.250067                2.894602
29  2  2  50     310.230067               18.400930
30  3  0   5       0.005133                0.001375
31  3  0  10       0.032533                0.004976
32  3  0  20       0.551467                0.062495
33  3  0  30       3.437867                0.249826
34  3  0  50      27.817000                1.565839
35  3  1   5       0.009692                0.002235
36  3  1  10       0.139200                0.007903
37  3  1  20       3.095267                0.093032
38  3  1  30      31.231133                0.398778
39  3  1  50     304.432200                2.702865
40  3  2   5       0.012462                0.003378
41  3  2  10       0.119200                0.035849
42  3  2  20       5.735067                0.475831
43  3  2  30      49.022667                2.424712
44  3  2  50     314.061400               17.398003